* {
  box-sizing: border-box;
  margin: 0;
}

@keyframes aparecer {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Montserrat;
  background-color: #000;
}

.header {
  background-color: #111;
  height: auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  width: 30rem;
  padding: 4rem;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu-item {
  font-size: 1vw;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.3rem;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #000000;
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

/*main estilos*/

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48vw;
  overflow: hidden;
}

main video {
  width: 100%;
  height: 200rem;
  background-color: #000;
  filter: opacity(0.2);
  position: relative;
  z-index: -1;
}

main img {
  width: 20vw;
  color: white;
  position: absolute;
  margin-top: 20vw;
}

.decoracion {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.decoracion img {
  width: 100%;
}

/*Primera seccion*/

.primera {
  width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

.primera h1 {
  font-size: 5vw;
  color: white;
  animation: aparecer 5s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.primera h2 {
  width: 80%;
  font-size: 3vw;
  font-weight: 200;
  color: white;
  animation: aparecer 5s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/*segunda seccion*/

.segunda {
  width: 100%;
  height: 40vw;
  display: flex;
  padding: 8vw;
  text-align: end;
  background-color: white;
}

.segunda .texto {
  display: flex;
  flex-direction: column;
}

.segunda h1 {
  font-size: 5vw;
  color: rgb(0, 0, 0);
  animation: aparecer 5s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.segunda h2 {
  width: 100%;
  font-size: 3vw;
  font-weight: 200;
  color: rgb(0, 0, 0);
  animation: aparecer 5s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/*tercera seccion*/

.tercera {
  width: 100%;
  height: 40vw;
  display: flex;
  padding: 8vw;
  text-align: end;
  background-color: rgb(255, 119, 0);
}

.tercera .texto {
  display: flex;
  flex-direction: column;
}

.tercera img {
  width: 40vw;
  height: 30vw;
}

.tercera h1 {
  font-size: 5vw;
  color: rgb(255, 255, 255);
  animation: aparecer 5s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.tercera h2 {
  width: 100%;
  font-size: 3vw;
  font-weight: 200;
  color: rgb(255, 255, 255);
  animation: aparecer 5s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/*cuarta seccion*/

.cuarta {
  width: 100%;
  height: 40vw;
  display: flex;
  background-color: rgb(0, 42, 255);
  align-items: center;
  justify-content: space-around;
}

.cuarta h1 {
  font-size: 4vw;
  font-weight: 900;
  width: 50vw;
  color: white;
  animation: aparecer 5s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.cuarta iframe {
  width: 20vw;
  height: 20vw;
  border: solid white 1rem;
}

.cuarta .contacto {
  width: 100%;
  padding: 1vw;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5vw;
}

.cuarta .contacto a {
  text-decoration: none;
  font-family: montserrat;
  font-weight: 900;
  color: black;
}

.cuarta .contenedor {
  display: flex;
  flex-direction: column;
}

/*footer*/

footer {
  display: flex;
  padding: 4rem;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  background-color: #111;
  color: #fff;
}

@media (max-width: 60rem) {
  body {
    overflow-x: hidden;
  }
  .header {
    height: auto;
    position: relative;
  }

  .logo {
    width: 20rem;
    padding: 2rem;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #000000;
    position: absolute;
    top: 7.5rem;
    width: 50%;
    padding: 2rem;
    height: 60vw;
    overflow-y: auto;
    right: 100%;
    transition: left 0.3s;
    z-index: 1;
  }

  .nav-menu-item {
    line-height: 7rem;
    border-bottom: 1px solid white;
    width: 100%;
    align-items: center;
    margin: auto;
  }

  .nav-menu-item {
    font-size: 2vw;
    text-transform: uppercase;
    width: max-content;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #b8b8b8;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    right: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  main video {
    width: 137%;
    height: 100%;
    background-color: #000;
    filter: opacity(0.2);
    position: relative;
    z-index: -1;
  }

  main img {
    position: relative;
    width: 40vw;
    overflow-x: scroll;
    color: white;
    position: absolute;
    margin-top: 17vw;
  }

  .decoracion {
    display: flex;
    width: 150%;
  }

  .decoracion img {
    width: 100%;
  }
  .primera {
    width: 100%;
    height: 100vw;
    display: flex;
    flex-direction: column;
  }

  .primera h1 {
    width: 100%;
    font-size: 9vw;
    color: white;
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin: 2rem 0;
    text-align: end;
  }

  .primera h2 {
    width: 100%;
    font-size: 6vw;
    font-weight: 200;
    color: white;
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  /*segunda seccion*/

  .segunda {
    width: 100%;
    height: 100vw;
    display: flex;
    padding: 8vw;
    text-align: end;
    background-color: white;
  }

  .segunda .texto {
    display: flex;
    flex-direction: column;
  }

  .segunda h1 {
    font-size: 10vw;
    color: rgb(0, 0, 0);
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .segunda h2 {
    width: 100%;
    font-size: 5vw;
    font-weight: 200;
    color: rgb(0, 0, 0);
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  /*tercera seccion*/

  .tercera {
    width: 100%;
    height: 100vw;
    display: flex;
    flex-direction: column;
    padding: 8vw;
    text-align: end;
    background-color: rgb(255, 119, 0);
  }

  .tercera .texto {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .tercera img {
    display: none;
  }

  .tercera h1 {
    font-size: 13vw;
    color: rgb(255, 255, 255);
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .tercera h2 {
    width: 100%;
    font-size: 6vw;
    font-weight: 200;
    color: rgb(255, 255, 255);
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  /*cuarta seccion*/

  .cuarta {
    width: 100%;
    height: 140vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 42, 255);
    align-items: center;
    justify-content: center;
  }

  .cuarta h1 {
    font-size: 8vw;
    margin: auto 2rem;
    font-weight: 900;
    width: 90vw;
    text-align: center;
    color: white;
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .cuarta iframe {
    width: 80vw;
    height: 50vw;
    border: solid white 1rem;
  }

  .cuarta .contacto {
    background-color: white;
    width: 100%;
    padding: 4vw;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5vw;
  }

  .cuarta .contacto a {
    font-size: 5vw;
    text-decoration: none;
    font-family: montserrat;
    font-weight: 900;
    color: black;
  }

  .cuarta .contenedor {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 30rem) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  main video {
    width: 250%;
    height: 100%;
    background-color: #000;
    filter: opacity(0.2);
    position: relative;
    z-index: -1;
  }

  main img {
    width: 40vw;
    overflow-x: scroll hidden;
    color: white;
    position: absolute;
    margin-top: 45vw;
  }

  .decoracion {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .decoracion img {
    width: 100%;
  }
  .primera {
    width: 100%;
    height: 100vw;
    display: flex;
    flex-direction: column;
    padding: 5vw;
  }

  .primera h1 {
    width: 100%;
    font-size: 9vw;
    color: white;
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin: 2rem 0;
    text-align: end;
  }

  .primera h2 {
    width: 100%;
    font-size: 6vw;
    font-weight: 200;
    color: white;
    animation: aparecer 5s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}
